<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>POC Choice Tree</title>
  <link rel="stylesheet" href="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
</head>

<body>
  <div class="sp-container">
    <div class="fr-container fr-pb-2w">
      <h1>POC choice tree</h1>
      <div id="app" v-scope="treeItem(TreeData)" init></div>
    </div>
  </div>


  <!-- TEMPLATE -->
  <template id="choice-tree-template">
    {{ /* 01. SUMMARY */ }}
    <div>
      <ul v-if="store.labelsSteps" 
          class="fr-raw-list fr-mb-4w">
        <li v-for="(step, index) in store.labelsSteps"
            :key="index"
            class="fr-mb-1w sp-choicetree-selected">
          {{ /* Intro */ }}
          <div v-if="store.introsSteps[index]" 
              v-html="store.introsSteps[index]"></div>
          {{ /* Label */ }}
          <strong v-html="step"
                :id="`choicetree-label-${index}`"></strong>
          {{ /* "Reset" button */ }}
          <button type="button" 
                  class="fr-btn fr-btn--tertiary-no-outline" 
                  v-if="store.currentChoice != 0"
                  :aria-describedby="`choicetree-label-${index}`"
                  @click="store.returnPrevStep(index)">
            Modifier
          </button>
        </li>
      </ul>
    </div>
    
    {{ /* 02. CHOICES BLOCK */ }}
    <div v-bind="store.setAllItems(model)"
          class="fr-form-group">
      <fieldset class="fr-fieldset">
        <template v-for="(model, index) in store.getChoice()" 
                  :key="index">
          <div class="fr-fieldset__content">
            {{ /* Intro */ }}
            <legend v-if="store.allIntros && store.chooseIntro(model.level)" 
                v-html="store.chooseIntro(model.level)" 
                class="fr-fieldset__legend fr-text--regular" 
                id='radio-legend'></legend>
            {{ /* Label + Radio button */ }}
            <div v-if="model.label" 
                  class="fr-radio-group">
              <input type="radio" 
                      data-type="radio"
                      :id="`btn-radio-${model.level}`" 
                      :name="`btn-radio-${model.group}`"
                      @click="store.nextChoice(model.level)">
              <label :for="`btn-radio-${model.level}`" 
                      v-html="model.label"
                      class="fr-label"></label>
            </div>
          </div>
        </template>
      </fieldset>
    </div>
    
    {{ /* 03. RESPONSE */ }}
    <div v-if="store.currentResponse" 
         v-html="store.currentResponse"></div>
  </template>
  <!-- TEMPLATE : end -->


  <!-- SCRIPTS -->
  <!-- Libraries -->
  <script type="module" src="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.module.min.js"></script>
  <script src="/node_modules/petite-vue/dist/petite-vue.umd.js"></script>

  <!-- Application -->
  <script type="module">
    import initChoicetree from './js/choicetree.js';

    const dataUrl = '/public/data/choicetree-data.json';
    const appId = '#app';
    const templateId = '#choice-tree-template';
    initChoicetree(dataUrl, appId, templateId);
  </script>
  <!-- SCRIPTS : end -->
</body>
</html>