<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
</head>

<body>
  <div class="fr-container fr-pb-2w">
    <div id="app" v-scope="treeItem(TreeData)" init></div>
  </div>


  <!-- TEMPLATE -->
  <template id="choice-tree-template">
    {{ /* 01. SUMMARY */ }}
    <div>
      <h4>RECAPITULATIF</h4>
      <p>currentChoice: {{store.currentChoice}}</p>
      <ul>
        <li v-for="step in store.labelsSteps">
          <p>{{step}}</p>
        </li>
      </ul>
    </div>
    
    {{ /* 02. CHOICES BLOCK */ }}
    <div v-bind="store.setAllItems(model)">
        <h4>CHOIX</h4>
        <template v-for="(model, index) in store.getChoice()" 
                  :key="index">
          <div>
            {{ /* Intro */ }}
            <legend v-if="store.allIntros && store.chooseIntro(model.level)" 
                v-html="store.chooseIntro(model.level)"></legend>
            {{ /* Label + Radio button */ }}
            <div v-if="model.label" 
                  class="fr-col-12 fr-col-md-6 fr-radio-group fr-radio-group--sm questionnaire-list--item">
              <input type="radio" 
                      data-type="radio"
                      :id="`btn-radio-${model.level}`" 
                      :name="`btn-radio-${model.group}`"
                      @click="store.nextChoice(model.level)">
              <label :for="`btn-radio-${model.level}`" 
                      v-html="model.label"></label>
            </div>
          </div>
        </template>
      </div>
    
    {{ /* 03. RESPONSE */ }}
    <div>
      <h4>REPONSES</h4>
      <p v-if="store.currentResponse">
        {{store.currentResponse}}
      </p>
    </div>
  </template>
  <!-- TEMPLATE : end -->


  <!-- SCRIPTS -->
  <!-- Libraries -->
  <script type="module" src="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.module.min.js"></script>
  <script type="text/javascript" nomodule src="/node_modules/@gouvfr/dsfr/dsfr/dist/dsfr.nomodule.min.js"></script>
  <script src="/node_modules/petite-vue/dist/petite-vue.umd.js"></script>
  <!-- Application -->
  <script type="module" src="./js/app.js"></script>
  <!-- SCRIPTS : end -->
</body>
</html>