<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
</head>

<body>
  <div class="fr-container fr-pb-2w">
    <main class="main" id="main" role="main" lang="fr">
      <div class="sp-container">
        <article class="article" role="article">
          <h1 id="titlePage" data-test="titre-page">Je déménage</h1>
          <p class="sp-text--gray fr-text--xs" data-test="date-maj">Vérifié le 21 juin 2022 - Direction de l'information légale et administrative (Premier ministre)</p>
          <div class="sp-entete-etape fr-mb-6w" id="intro" aria-hidden="false"><p class="fr-text--lg">J'ai trouvé un nouveau logement et je vais bientôt déménager. Avant, mais aussi après mon déménagement, je dois faire diverses démarches auprès des organismes publics ou privés (<abbr class="tool-tip" data-toggle="tooltip" tabindex="0" data-acronyme="R24582" data-original-title="Caf&nbsp;:&nbsp;Caisse d'allocations familiales">Caf<span class="fr-sr-only"> : Caf&nbsp;:&nbsp;Caisse d'allocations familiales</span></abbr>, banque et société d'assurance, fournisseur d'électricité, mairie pour voter aux élections...). Les démarches les plus urgentes concernent le logement que je quitte, la scolarité de mes enfants et le transport de tous mes meubles et documents.</p></div>
          <div id="expired_RG" aria-hidden="false"><div class="fr-mb-4w sp-perso">
            <div class="sp-perso-header">
              <h2 class="fr-h6 sp-perso-title sp-accent">
                <svg aria-hidden="true" focusable="false" class=" sp-icon  sp-icon-ri-user-search-line " viewBox="0 0 24 24" width="32" height="32"><path d="M12 14v2a6 6 0 0 0-6 6H4a8 8 0 0 1 8-8zm0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm9.446 9.032l1.504 1.504-1.414 1.414-1.504-1.504a4 4 0 1 1 1.414-1.414zM18 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path></svg>
                Quelle est votre situation&nbsp;?
              </h2>
            </div>
            <div class="sp-perso-content" data-questionnaire-problematique="">
              <!-- FORM -->
              <form method="get" 
                    action="" 
                    enctype="multipart/form-data" 
                    v-scope="treeItem(TreeData)" 
                    init></form>
              <!-- FORM : end -->
            </div>
          </div>
        </article>
      </div>
    </main>
  </div>


  <!-- TEMPLATE -->
  <template id="choice-tree-template">
    <!-- PARENT -->
    <fieldset class="fr-fieldset questionnaire-list" v-scope>
      <!-- Label + "Help" button -->
      <legend id="quest" class="fr-fieldset__legend">
        <span>{{model.intro}}</span>
        <button type="button" 
                class="fr-btn sp-btn-help fr-btn--secondary fr-fi-question-fill" 
                :title="`Aide pour ${model.help}`">
          <span>
            Aide sur ...
            <span class="fr-sr-only">1</span>
          </span>
        </button>
      </legend>
      <!-- Questions (Radio buttons) -->
      <div class="fr-grid-row fr-grid-row--gutters fr-fieldset__content questionnaire-list--content">
        <div v-for="question in model.questionsList" 
              class="fr-col-12 fr-col-md-6 fr-radio-group fr-radio-group--sm questionnaire-list--item">
          <input type="radio" 
                  :id="`btn-radio-${question.level}`" 
                  :name="`btn-radio-${model.level}`" 
                  @click="displayResetButton(question.level)"
                  :checked="isChecked">
          <label class="choice" 
                  :for="`btn-radio-${question.level}`">
            <span>{{question.label}}</span>
          </label>
        </div>
      </div>
      <!-- "Reset" button -->
      <p class="questionnaire-choice-reset" :hidden="isHiddenReset">
        <button type="button" 
                class="fr-btn sp-btn-link" 
                :id="`btn-reset-${model.level}`"
                @click="hideResetButton">
          Effacer la sélection
        </button>
      </p>
      <!-- Response -->
      <p class="questionnaire-choice-reset" 
          :id="`response-${model.level}`"
          :hidden="model.response ? false : true">{{model.response}}</p>
    </fieldset>
    <!-- CHILDREN-->
    <template v-for="model in model.children">
      <template class="fr-fieldset questionnaire-list d-block" 
                v-scope="treeItem(model)"></template>
    </template>
  </template>
  <!-- TEMPLATE : end -->


  <!-- SCRIPTS -->
  <!-- Libraries -->
  <script type="module" src="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.module.min.js"></script>
  <script type="text/javascript" nomodule src="/node_modules/@gouvfr/dsfr/dsfr/dist/dsfr.nomodule.min.js"></script>
  <script src="/node_modules/petite-vue/dist/petite-vue.umd.js"></script>
  <!-- Application -->
  <script type="module" src="./js/app_1.js"></script>
  <!-- SCRIPTS : end -->
</body>
</html>