<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.min.css">
</head>
<body>
    <div v-scope="treeItem(TreeData)" init class="container"></div>


    <!-- TEMPLATE -->
    <template id="choice-tree-template">
        <p v-if="model.intro">{{model.intro}}</p>
        <ul>
            <li v-for="model in model.choices">
                <div><strong>{{model.label}}</strong></div>
                <div v-if="model.reponse">{{model.reponse}}</div>
                <div v-if="model.choices">
                    <div v-scope="treeItem(model)"></div>
                </div>
            </li>
        </ul>
    </template>
    <!-- TEMPLATE : end -->


    <!-- SCRIPTS -->
    <!-- Libraries -->
    <script type="module" src="/node_modules/@gouvfr/dsfr/dist/dsfr/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="/node_modules/@gouvfr/dsfr/dsfr/dist/dsfr.nomodule.min.js"></script>
    <script src="/node_modules/petite-vue/dist/petite-vue.umd.js"></script>
    <!-- Application -->
    <script type="module" src="./js/pre-data.js"></script>
    <!-- SCRIPTS : end -->
</body>
</html>